article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  background: $primaryBGColor;
  font: 26px $primaryFont;
  width: 100%;
  color: $baseFontColor;  
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}


/* Navigation
-----------------------------------------------------------------------------*/
nav {  
  position: absolute;
  right: 0;
  width: 50%;
}


