//Navigation
//-----------------------------------------------------------------------------

.header-nav {
  @include clearfix;
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  

  &__link {
    text-decoration: none;
    border-bottom: 0;
    padding-bottom: 0;/* 
    transition: all .2s; */
    display: inline-block;   
    margin: 30px 10px;
    color: $baseFontColor;
    text-align: left;
    
    &:hover {
      margin-top: 14px;

      &::before {
        content: '';
        display: block;
        position: relative;
        top: -24px;     
        width: 100%;
        height: 16px;
        border-radius: 10px;
        background-color: $elementsColor;
      }     
  }
    
  }
}

.article {
  background-color: $secondaryBGColor;
  display: grid;
  grid-template-columns: minmax(550px,1fr) minmax(300px,1fr) ;
  grid-auto-rows: minmax(650px,auto);
  grid-gap: 20px;

  &__info {
    align-self: center;

    &-title{
      font-size: 64px;
      font-weight: bold;
  
    }
  
    &-subtitle{
      font-size: 28px;
      line-height: 100px;
      color: $subtitleColor;    
    }

    &-text{
      font-size: 32px;
      line-height: 48px;   
    }

  }

  

  &__photo {
    background: url(../images/Psyhologist-photo.png) no-repeat center top;
  }
}


