//Navigation
//-----------------------------------------------------------------------------

.header-nav {
  @include clearfix;
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  

  &__link {
    text-decoration: none;
    border-bottom: 0;
    padding-bottom: 0;/* 
    transition: all .2s; */
    display: inline-block;   
    margin: 30px 10px;
    color: $baseFontColor;
    text-align: left;
    
    &:hover {
      margin-top: 14px;
      text-decoration: none;
      color: $baseFontColor;

      &::before {
        content: '';
        display: block;
        position: relative;
        top: -24px;     
        width: 100%;
        height: 16px;
        border-radius: 10px;
        background-color: $elementsColor;
      }     
  }
    
  }
}

//Main content
//-----------------------------------------------------------------------------

.mainContent > div:nth-child(even) {
  background-color: $secondaryBGColor;
}
.mainContent > div {
  display: grid;
  padding: 100px 140px 100px 200px;
  grid-template-columns: repeat(auto-fix, 1fr);
}
//Header
//-----------------------------------------------------------------------------

.article {
  background-color: $secondaryBGColor;
  display: grid;
  grid-template-columns: minmax(550px,1fr) minmax(300px,1fr) ;
  grid-auto-rows: minmax(650px,auto);
  grid-gap: 20px;
  z-index: 0;

  &__info {
    align-self: center;

    &-title{
      font-size: 64px;
      font-weight: bold;
      line-height: 75px;
  
    }
  
    &-subtitle{
      font-size: 28px;
      line-height: 100px;
      color: $subtitleColor;    
    }

    &-text{
      font-size: 32px;
      line-height: 48px;   
    }

  } 

  &__photo {
    background: url(../images/Psyhologist-photo.png) no-repeat center top;
  }
}

//Main content
//-----------------------------------------------------------------------------

.principles {
  

  .firstTree {
    position: absolute;
    right: -10px;
    transform: translateY(-35%);
    z-index: 1;
  }

  &__list {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
    
    &-block {
      z-index: 2;
      /* span {
        color: $elementsColor;
        display: inline-block;
        font-size: 70px;
        height: 115px;
        width: 50px;
        vertical-align: middle;        
      } */
      &::before {
        content: '';
        background-color: $elementsColor;
        position: absolute;
        margin: 30px 0;
        transform: translate(-50px,10px);
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
      }
    }

  }

  &__block {

    &-title {
      font-size: 32px;
      margin: 30px 0;
      font-weight: bold;      
    }
  
  }

}

.title-for-block {
  font-size: 52px;
  margin-bottom: 100px;
}

.questions {
  & .carousel {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;

    &-indicators {
      display: block;
      position: static;
      margin: auto 0;
      & li {
        background-color: transparent;
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        height: auto;
        text-indent: 0;
        
        &.active {

          &::before {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            left: -50px;
            transform: translateY(6px);
            border-style: solid;
            border-width: 13px 0 13px 16px;
            z-index: 10000000;
            border-color: transparent transparent transparent $elementsColor;
          }
          
        }
      }
    }

    &-inner {      
      align-self: center;
      
    }

    

    &-item {  
      

      & p {
        background-color: $elementsColor;
      border-radius: 20px 20px 0 20px;
      padding: 40px;
      margin-bottom: 35px;
      position: relative;

        &::after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          position: absolute;
          right: 0;
          bottom: -35px;
          border-width: 0 60px 35px 0;
          border-color: transparent $elementsColor transparent transparent;
        }

        

      }

     /*  .tringle {
        text-align: right;      
      }
      
      & span,
          span::before,
          span::after {
            width: 5em;
            height: .25em;
            background-color: red;
            border-radius: 5em;
            box-shadow: 0 0 0 1.5em red;        
        }

        & span {
          position: relative;
          display: block;
          font-size: 0.3em;
        }

        & span::before,
          span::after {
            content: '';
            position: absolute;   
            top: -2.1em;  
        }

        & span::before {
          right: 1.2em;
          transform: rotate(-60deg);     
        }

        & span::after {
          left: 1.2em;
          transform: rotate(60deg);
        }
*/

    } 
  }

}

.secondTree {
  position: absolute;
  left: -500px;
  transform: translateY(-90%);
  z-index: 1;
}

.about {
  height: 730px;
  background: url(../images/about-me.png) no-repeat top;
  background-position-x: right;

  &__block {
    max-width: 600px;
    &-title {
      font-weight: bold;
      line-height: 100px;
      font-size: 32px;
    }
  }

}

.thirdTree {
  position: absolute;
  left: 0;
  transform: translateY(100%) rotate(15deg);
  z-index: 1;
}

.mainContent > div:last-child {
  padding: 100px;
}


.recording{ 

  &__block {
    padding: 50px;
    padding-left: 100px;
    border: 10px solid $elementsColor;
    border-radius: 20px;    
    display: grid;
    grid-template-columns: 2fr 400px;
    align-items: center;
    grid-gap: 20px;

    &-title {
      margin-bottom: 50px;
      font-size: 36px;
      font-weight: bold;      
    }

    &-text {
      font-size: 32px;
    }

    &-button {
      padding: 25px;
      font-size: 32px;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      background-color: $elementsColor;
      border: none;
      align-self: flex-end;
      &:focus {
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
    
  }
}

.footer {
  display: grid;
  grid-template-columns: 1.5fr repeat(3,1fr) 1.5fr;
  justify-items: center;
  align-items: center;
  margin: 0px 50px;
  margin-bottom: 150px;
  grid-gap: 50px;
  &__block {
   
    &-subtitie{
      font-size: 14px;
      color: $subtitleColor;
    }
    &-text{
      font-size: 18px;
      &--name {
        font-weight: bold;
        font-size: 22px;
      }
      
    }
    &:first-child {
      justify-self: start;
    }
    &:last-child {
      justify-self: end;
    }
  }

  &__social {
    &-list {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      font-family: "Font Awesome 5 Brands";
      width: 20px;      
      font-size: 0px;
      
      & a {
        color: $socialColor;
        text-decoration: none;
      }
      &--facebook {

        &::before{
          content: "\f39e";                  
          font-size: 20px;
        }   
        
        &:hover,
        &:active {
          color: #0c88ef;
        }
      }

      &--twitter {

        &::before{
          content: "\f099";                  
          font-size: 20px;
        }     
        
        &:hover,
        &:active {
          color: #1da1f2;
        }
      }

      &--youtube {

        &::before{
          content: "\f167";                  
          font-size: 20px;
        }     
        
        &:hover,
        &:active {
          color: #ff0000;
        }
      }

      &--instagram {

        &::before{
          content: "\f16d";                  
          font-size: 20px;
        }     
        
        &:hover,
        &:active {
          color: #cc2366; 
        }
      }

    }
  }  
}



