//Navigation
//-----------------------------------------------------------------------------
.header {
  
  nav {
    z-index: 98;
  }
  
  &__burger {

    &-state {
      display: none;
    }

    &-btn {      
      display: none;    
      background: transparent;
      margin: 40px;
      text-align: center;
      width: 40px;
      height: 40px;
      position: fixed;
      right: 0;
      transition: all .2s;
      z-index: 1111;
      
      &:hover {
        cursor: pointer;
        opacity: .45;
      }
    }

    &-icon2 {
      position: absolute;
      background-color: $elementsColor;
      height: 3px;
      display: inline-block;      
      border-radius: 25%;
      left: 0;
      width: 100%;      
      /* transition: all .2s; */
      top: 50%;
      -webkit-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1);
      transition: transform 1s cubic-bezier(.23,1,.32,1);
    }

    &-icon3 {
      position: absolute;
      background-color: $elementsColor;
      height: 3px;
      display: inline-block;      
      border-radius: 25%;
      left: 0;
      width: 100%;      
      /* transition: all .2s; */
      top: 50%;            
      -webkit-transform: translateY(15px) translateZ(0);
        transform: translateY(15px) translateZ(0);
      -webkit-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1);
      transition: transform 1s cubic-bezier(.23,1,.32,1);
    }

  }

  &-nav {
    @include clearfix;
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: space-between;

    &__link {
      text-decoration: none;
      border-bottom: 0;
      padding-bottom: 0; 
      color: $baseFontColor;
      display: inline-block;     
      padding: 30px 15px;      
      position: relative;
      box-sizing: border-box;

      &::before {
        content: '';
        display: block;
          position: absolute;
          top: -10px;    
          width: 100%;
          height: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          border-radius: 10px;
          background-color: $elementsColor;
          transition: height .3s;

      }
      
      &:hover {
        
        text-decoration: none;
        color: $baseFontColor;
        opacity: .8;        

        &::before {
          height: 16px;
          transition: height .3s;
        }     
      }
      
    }
  }

  #burger:checked {
    & ~ nav {       
      opacity: 1;
      height: 100%;        
      transition: opacity 0.5s;
  
      .header-nav {              
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);       
        transition: transform 0.2s;
      }
    }
  
    & ~ .header__burger-btn {
  
      .header__burger-icon2 {
        -webkit-transform: rotate(-45deg) translateZ(0);
        transform: rotate(-45deg) translateZ(0);        
      }
      .header__burger-icon3 {
        -webkit-transform: rotate(45deg) translateZ(0);
        transform: rotate(45deg) translateZ(0);
      }
    }
  }

}

.blur {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);                
  transition: all 0.2s;
}

//Main content
//-----------------------------------------------------------------------------

.mainContent > div:nth-of-type(even) {
  background-color: $secondaryBGColor;
}
.mainContent > div,
.recording {
  display: grid;
  padding: 100px 140px 100px 200px;
  grid-template-columns: repeat(auto-fill, 1fr);
}

.title-for-block {
  font-size: 52px;
  margin-bottom: 50px; 
  z-index: 2; 
}

//Header
//-----------------------------------------------------------------------------

.article {
  background-color: $secondaryBGColor;
  display: grid;
  grid-template-columns: minmax(550px,1fr) 1fr ;
  grid-auto-rows: minmax(650px,auto);
  grid-gap: 20px;
  z-index: 0;

  &-new {
    text-align: center;    
    margin: 100px 0;
    position: relative;
    grid-column: -1 / 1;
  }

  &__info {
    align-self: center;

    &-title{
      font-size: 64px;
      font-weight: bold;
      line-height: 75px;
  
    }
  
    &-subtitle{
      font-size: 28px;
      line-height: 100px;
      color: $subtitleColor;

      &--italic {
        font-style: italic;
      } 

    }

    &-text{
      font-size: 32px;
      line-height: 48px;   
    }

  } 

  &__photo {
    background: url(../images/Psyhologist-photo.png) no-repeat center top;
  }
}


.article--another {
  background-color: $primaryBGColor;
  padding: 15px 50px;
  display: block;

  .article {
    

    &__info {
      display: flex;
      flex-direction: column-reverse;
      align-self: center;
      
  
      &-title{
        font-size: 26px;
        line-height: 30px;
    
      }
    
      &-subtitle{
        font-size: 14px;
        line-height: 19px;    
      }
  
    }

  }   
}



//Principles block
//-----------------------------------------------------------------------------

.principles {
  position: relative;

  &__list {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
    
    &-block {
      z-index: 2;

    }

  }

  &__block {

    &-title {
      font-size: 32px;
      margin-bottom: 30px;
      font-weight: bold;
      
      
      &::before {
        content: '';
        background-color: $elementsColor;
        position: absolute;
        transform: translate(-250%,50%);
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
      }
    }  
  }
}

//Carousel
//-----------------------------------------------------------------------------

.carousel {
  display: grid;
    grid-template-columns: 1fr minmax(450px,1fr);
    grid-gap: 100px;

   &-item {
      position: absolute;
      height: 0;
      opacity: 0;
      transition: 0.7s ease-in-out opacity;


      
      &.active {        
        opacity: 1;
        position: relative;
      }
    }

    &-indicators {
      display: block;
      position: static;
      margin: 0;
      width: 100%;
      text-align: left;
      
      & li {
        background-color: transparent;
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        height: auto;
        text-indent: 0;
        cursor: pointer;
        z-index: 5;        
        border: none;

        position: relative;
        color: $subtitleColor;
        
        &.active {
          color: $baseFontColor;
          background-color: transparent;

          &::before {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            left: -50px;
            transform: translateY(20%);
            border-style: solid;
            border-width: 13px 0 13px 16px;
            border-color: transparent transparent transparent $elementsColor;
          }
          
        }
      }
    }

    &-inner {
      position: relative; 
      height: 100%;  
    }

}


//Questions block
//-----------------------------------------------------------------------------

.answer {
  &__block {
  &-text {
    background-color: $elementsColor;
    border-radius: 20px 20px 0 20px;           
    padding: 30px 40px;
    margin-bottom: 35px;
    position: relative;
    top: 0;
    bottom: 0;
    
    

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      right: 0;
      bottom: -35px;
      border-width: 0 60px 35px 0;
      border-color: transparent $elementsColor transparent transparent;
    }
  }

  &-author {
    font-size: 26;
    font-weight: bold;
    float: right;
    margin: 0 50px;
    line-height: 60px;
  
    &::before {
      content: "";
      width: 60px;
      height: 60px;
      display: block;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
      float: left;
      background: url(../images/psyhologist-icon.png) no-repeat -55px top;
    }
  }
} 

  
  .carousel-inner {      
    align-self: center; 
  }
}


.questions {
  position: relative;
}


//About block
//-----------------------------------------------------------------------------

.about {
  height: 530px;
  background: url(../images/about-me.png) no-repeat top;
  background-position-x: right;
  position: relative;

  &__block {
    max-width: 600px;
    &-title {
      font-weight: bold;
      margin: 50px 0;
      font-size: 32px;
    }
  }

}

//Education block
//-----------------------------------------------------------------------------

.education {
  position: relative;
  .carousel {
    
    &-inner {
      position: relative;

      & .active {
        position: sticky;
        top: 0;
        margin: auto 0;        
        height: auto;
      }
    }

    img {
      z-index: 15;
      height: 100%;
      width: 450px;
    }
  }
}

.recording {
  padding: 100px;
}


//Decoration elements
//-----------------------------------------------------------------------------

.tree {
  position: absolute;
  z-index: 1;
  &__first{
    right: 0;
    top: -150px;
    
    &--consult {
      right: -220px;
      top: -50%;
      width: 450px;
      transform: scale(-1, 1) rotate(15deg);
    }
    &--feedbacks {
      left: -170px;
      top: -50%;
      width: 370px;
      transform: scale(-1, -1) rotate(5deg);
    }
  }

  &__second{
    left: -500px;
    top: -165px;
    &--consult {
      bottom: -2%;
      left: -25%;
      width: 600px;
    }
    &--feedbacks {
      transform: scale(-1,1) rotate(90deg);
      right: -250px;
      top: 50%;
      height: 370px;
      
    }
    
  }
  &__third{
    left: 0;
    bottom: -160px;
    transform: rotate(15deg);
    
    &--consult {
      right: 15%;
      top: calc(-100% - 70px);
      width: 350px;
      transform: rotate(-90deg);
      z-index: -1;
    }
    &--feedbacks {
      left: -155px;
      top: -70%;
      width: 250px;
    }
  }
  &__fourth{
    right: 0;
    top: 50%;
    z-index: 0;
    &--feedbacks {
      transform: rotate(30deg);
      left: -250px;
      bottom: 0;
      width: 400px;      
    }
  }  
}


//Recording block
//-----------------------------------------------------------------------------

.recording{ 

  &__block {
    padding: 50px;
    padding-left: 100px;
    border: 10px solid $elementsColor;
    border-radius: 20px;    
    display: grid;
    grid-template-columns: 2fr 400px;
    align-items: center;
    grid-gap: 20px;

    &-title {
      margin-bottom: 50px;
      font-size: 36px;
      font-weight: bold;      
    }

    &-text {
      font-size: 32px;
    }

    &-button {
      padding: 25px;
      font-size: 32px;
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      background-color: $elementsColor;
      border: none;
      align-self: flex-end;
      transition: box-shadow .3s;

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 11px rgba(33,33,33,.5);
      }

      a {
        text-decoration: none;
        color: #fff;
        &:active {
          color: #fff;
        }
      }
    }
    
  }
}

.recording--new {
  .recording{ 

    &__block {
      grid-gap: 0 100px;
      grid-template-areas: 
      "article info"
      "button info";
      align-items: start;     

      &-title {        
        width: 50%;
      }
      &-text {
        font-size: 24px;
        
      }
      

      &-article {
        grid-area: article;
        font-size: 32px;
      }
 
      &-button {
        grid-area: button;
        display: inline-block;
        width: 270px;        
      }

      &-form {
        grid-area: info;

        &-title {
          font-size: 18px;
        }
        &-input {
          margin-bottom: 40px;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid $elementsColor;
          opacity: .6;
          padding-bottom: 10px;
          transition: all .5s;
          width: 100%;
          height: 40px;
          &:focus {
            outline: none;
            opacity: 1;
            transition: all .5s;
          }
        }
      }
      
    }    
  }
}

//Footer
//-----------------------------------------------------------------------------

.footer {
  display: grid;
  grid-template-columns: 1.5fr repeat(3,1fr) 1.5fr;
  justify-items: center;
  align-items: center;
  margin: 0px 50px;
  margin-bottom: 150px;
  grid-gap: 50px;
  &__block {
   
    &-subtitie{
      font-size: 14px;
      color: $subtitleColor;
      margin-bottom: 10px;
    }
    &-text{
      font-size: 18px;
      &--name {
        font-weight: bold;
        font-size: 22px;
      }
      
    }
    &:first-child {
      justify-self: start;
    }
  }

      

  &__social {
    &-list {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      font-family: "Font Awesome 5 Brands";
      width: 20px;      
      font-size: 0px;
      
      & a {
        color: $socialColor;
        text-decoration: none;
      }
      &--facebook {

        &::before{
          content: "\f39e";                  
          font-size: 20px;
        }   
        
        &:hover,
        &:active {
          color: #0c88ef;
        }
      }

      &--twitter {

        &::before{
          content: "\f099";                  
          font-size: 20px;
        }     
        
        &:hover,
        &:active {
          color: #1da1f2;
        }
      }

      &--youtube {

        &::before{
          content: "\f167";                  
          font-size: 20px;
        }     
        
        &:hover,
        &:active {
          color: #ff0000;
        }
      }

      &--instagram {

        &::before{
          content: "\f16d";                  
          font-size: 20px;
        }     
        
        &:hover,
        &:active {
          color: #cc2366; 
        }
      }

    }
  }  

  &__logo {
    padding: 5px 20px 5px 70px;
    background-color: #f3f3f3;
    font-size: 18px;
    border-radius: 12px;
    position: relative;
    justify-self: end;

    &::before {
      content: "\f1f9";
      font-family: "Font Awesome 5 Free";
      font-size: 40px;
      color: #d0021b;
      position: absolute;
      left: 12px;
      transform: rotate(-25deg);
    }
    
    
  }
}

//Relationship
//-----------------------------------------------------------------------------

.mainContent > .relationship {
  padding: 0 150px 60px 100px;
}

.relationship {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 0 90px;
  position: relative;
  overflow: hidden;

  &__image {
        

    &-block{
    background: url(../images/consultation-image.png) no-repeat center center;
    background-size: cover;
    height: 520px;
    width: 520px;
    margin: 0 auto;
    margin-bottom: 100px;
    position: sticky;
    top: 0;
    }
    
  }

  .principles {
    &__list {
      margin-top: 0;
      display: block;
      &-block {        
      margin-bottom: 80px;
      }
    }

    &__block {
      &-title {                
        &::before {
          visibility: hidden;
        }
      }  
    }
  }
}

//Organisational
//-----------------------------------------------------------------------------

.organisational {
  &__block {
    &-text {
      margin-bottom: 40px;
      color: $subtitleColor;
    }
  }
}

//Feedbacks
//-----------------------------------------------------------------------------

.answer {  
  &__title {
    font-weight: bold;
    text-align: center;
  }

  &--feedbacks {
    padding: 60px 150px;
    overflow: hidden;
    @include clearfix;

    .answer__block {
      margin: 0;
      @include clearfix;
      cursor: default;
      font-weight: 50;      
      margin: 60px 0;
      position: relative;

      &-author {
        color: rgba($baseFontColor, .2);
        &::before {
          background-image: none;
          background-color: $secondaryBGColor;
        }
        
        &--even{
          float: left;
        }
      }
    
      &-text {         
        color: $primaryBGColor;
        width: 60%;
        float: right;
        margin-bottom: 20px;

        &--even {
          border-radius: 20px 20px 20px 0;
          float: left;
          
          
          &:hover {
            box-shadow: none;
          } 
  
          &::after {
            transform: scale(-1, 1);         
            left: 0;
          }
        }
      }
    }
  }

  &__block {    
    margin: 50px 200px;  
    position: relative;
    
    &--new {
      display: inline-block;
      margin: auto 0;
      font-weight: bold;
      color: $primaryBGColor;  
      cursor: pointer;
      border-radius: 20px;
      transition: box-shadow .3s;

      &:hover {
        box-shadow: 0 0 11px rgba(33,33,33,.5);
        &::before {
          content: "";
          position: absolute;
          width: 50px;
          height: 75px;
          background: transparent;
          transform: rotate(60deg);
          top: 51px;
          left: 28px;
          box-shadow: 14px 0 11px -11px rgba(33,33,33,.3);
        }
        &::after {
          box-shadow: 7px 0 6px -5px rgba(33,33,33,.3);
        }

      } 

      &::after {
        transform: scale(-1, 1);
        left: 40px;
        bottom: -29px;
        border-width: 0 50px 30px 0;
      }
    }
  }
}

//ToDoList
//-----------------------------------------------------------------------------

.toDoList {
  grid-template-columns: repeat(2,1fr);
  justify-content: space-between;

  &__iDo {
    max-width: 400px;
  }


  &__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 30px;
  }

  &__list{
    list-style: disc;
    
     li {
       margin-bottom: 30px;
     }
  }

  &__iNotDo {    
    position: relative;

    &--block {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      width: 300px;

      &::before {
        content: "";
        height: 140%;
        width: 2px;
        background-color: #d4172e;
        transform: rotate(35deg);
        position: absolute;
        left: -10%;
        right: 0;        
        top: 0;
        bottom: 0;
        margin: auto auto;
      }
    }
  }
}

//Cabinet
//-----------------------------------------------------------------------------

.wrapper__cabinet {
  
    display: inline-block;
    position: relative;
    .recording {
      display: block;
      position: absolute;
      padding: 0;
      right: 0;
      
      &__block {
        grid-gap: 30px;  
        padding: 30px;
        grid-template-columns: repeat(2,minmax(200px,280px));
        margin: 100px 50px;

        &-title{
          font-size: 28px;
          margin-bottom: 20px;
        }
        &-text{
          font-size: 18px;
        }
        &-button {
          font-size: 24px;
          padding: 20px;
          width: 200px;        
        }
    
        &-form {
    
          &-title {
            font-size: 14px;
          }
          &-input {
            margin-bottom: 20px;
            padding-bottom: 5px;
            height: 30px;
            font-size: 24px;
          }
        }
      }

    }
    
    & .footer {
      position: absolute;
      left: 0;
      bottom: 0;
      color: $primaryBGColor;
      margin: 0;
      margin-bottom: 40px;
      display: flex;
      width: 100%;
      &__block {

        &:first-child {
          margin-left: 50px;
          margin-right: 100px;;
        }
        &-subtitie{
          color: #a5a5a5;
        }
      }
      &__social {           
        &-item {          
          & a {            
            color: #a5a5a5;
            &:hover{
              color: $primaryBGColor;
            }
          }
        }
      }

      &__logo {
        margin-left: auto;
        padding-right: 100px;
        background-color: transparent;
    
        &::before {
          color: $primaryBGColor;
        }
      }
    }
}

.cabinet {
  &__img {
    float: left;
    @include clearfix;
  }
  &__description{
    font-size: 20px;
    color: $elementsColor;
    font-weight: bolder;
    z-index: 1000;
    position: absolute;
  
    &--right{
      text-align: right;
    }

    &-first {
      bottom: 25%;
      left: 22%;
    }

    &-second {
      top: 100px;
      left: 28%
    }

    &-third {
      bottom: 25%;
      left: 37%;
    }

    &-fourth {
      top: 150px;
      left: 45%;
    }
    &-fifth {
      left: 65%;
      top: 30%;
    }
    &-sixth {
      left: 71%;
      bottom: 25%;
    }
    &-seventh {
      top: 130px;
      left: 3315px;  
    }

  }
}


.location {
  position: absolute;
  left: 0;
  width: 350px;
  margin: 80px;

  &__title {
    margin: 10px;
  }

  &__description {
    font-size: 24px;
    margin: 10px;
  }
  &__map {
    color: $elementsColor;
    height: 220px;
    width: 100%;
    outline: 3px solid $primaryBGColor;
    
    box-shadow: 2px 4px 6px 6px rgba(0, 0, 0, .05);
  }
}

.containier--another {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 10000;
  .article {
    background-color: transparent;
  }
}

//Adaptive layout
//-----------------------------------------------------------------------------



@media all and (max-width:1200px) {

  
  .header {

    nav {
      font-size: larger;
      font-weight: bold;       
      position: fixed;      
      height: 100%;
      display: none;
      width: 100%;
      background-color: rgba(#bebebe, 0.4); 
      transition: opacity .2s;  
      opacity: 0;
    }

    &-nav {
      -webkit-transform: scale(0.85);
      -ms-transform: scale(0.85);
      transform: scale(0.85);         
      transition: all 0.2s;
      flex-direction: column;
      align-content: flex-start;
      justify-content: center;
      align-items: center;      
      height: 100%; 

        &__link {
          box-sizing: border-box;
          padding: 0;
          display: inline;

          &:hover {
            border-bottom: 8px solid $elementsColor;
            border-radius: 8px;
            transition: all .2s;
    
            &::before {
              width: 0;
              height: 0;
              top: 0;
            }     
          }
          
        }

        &__item {           
          line-height: 120px;
        }      
    }

    &__burger {
      &-btn {
        display: block;
      }
        
    }
  }

  .mainContent > div,
  .recording {
    padding: 60px 80px 100px 120px;
  }

  .recording {
    padding: 60px;

    &__block {
      &-title {
        font-size: 32px;
      }
      &-text {
        font-size: 24px;
      }
    }    
}
  
  .title-for-block {
    font-size: 36px;
    margin: 40px 0;
  }
  
  .article {
    grid-gap: 0;
    
    &__info {
      margin: 50px;
      box-sizing: content-box;
  
      &-title{
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 20px;    
      }
    
      &-subtitle{
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 30px;    
      }
  
      &-text{
        font-size: 20px;
        line-height: 30px;   
      }
  
    } 
    &--another {

      .article {
        &__info {
          margin: 25px;
          &-subtitle {
            margin-bottom: 5px;
          }
        }
      }
  
    }
    &-new {
      margin: 0;
      margin-top: 50px;
    }
  }


  .principles {
    &__list {
      grid-template-columns: repeat(auto-fill,minmax(250px,370px));
      margin-top: 0;
      grid-gap: 50px;
      font-size: 16px;  
    }
  
    &__block {
  
      &-title {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: bold; 
        
        &::before {          
          height: 15px;
          width: 15px;
        }
      }
      &-text {
        line-height: 25px;
      }
    }
  }

  .carousel {
      grid-template-columns: minmax(400px,1fr);
      grid-gap: 50px;
      font-size: 16px;
  
      &-indicators {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
        grid-auto-rows: auto;
        grid-gap: 0 45px;
        

        & li {
          position: relative;

          &.active {
  
            &::before {
              left: -25px;
              transform: translateY(0);
              border-width: 10px 0 10px 14px;
            }
            
          }
        }
      }

      
  }
  .questions {
    position: relative;
  
    & .carousel { 
  
      &-item {  
        
        & p {
  
          &::after {
            bottom: -28px;
            border-width: 0 50px 28px 0;
          }
        }
  
        & span {
          margin: 0;
          margin-right: 30px;
        
          &::before {
            content: "";
            width: 50px;
            height: 50px;
            background-position-x: -45px;
            background-size: 130px;
          }
        }
      } 
    }
  }

  .about {
    font-size: 16px;
    &__block {
      max-width: 400px;
      &-title {
        font-size: 20px;
      }
    }
  
  }

  .education { 
    .carousel { 
      img {
        width: 400px;
      }
      &-inner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 600px;
      }
    }
  }

  
  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0px 50px;
    margin-bottom: 150px;
    
    &__block {
      margin: 0 20px;
      text-align: center;

      &-subtitie{
        font-size: 13px;
        color: $subtitleColor;
      }
      &-text{
        font-size: 15px;
        &--name {
          font-size: 18px;
        }
        
      }
      &:first-child {
        justify-self: center;
      }
    }

    &__logo {
      justify-self: center;

    }
  
  }

  .relationship {
    
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 60px;
  
    &__image {
  
      &-block{  
        width: 400px;
        height: 400px;
        margin-bottom: 0;
      }
      
    }
  
    .principles {
      &__list {
        margin-left: 10px;
        &-block {        
        margin-bottom: 50px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
  
      &__block {
        &-title {                
          &::before {
            visibility: visible;
            position: relative;
            margin-right: 10px;
            transform: translate(0);
          }
        }  
      }
    }
  }

  .mainContent > .relationship {
    padding: 0 80px 60px 120px;
  }

  .toDoList {
    grid-template-columns: repeat(auto-fill, 500px);
    justify-content: center;
    font-size: 24px;

    &__iNotDo {
      &--block {
        position: relative;
        margin: 0;
        margin-top: 50px;
        &::before {
          left: -20%;
        }
      }
    }
    &__title{
      font-size: 28px;
    }

    li {
      margin-bottom: 15px;
    }
  }

  .organisational {
    &__block {
      &-text {
        font-size: 24px;
      }
    }
  }

  .recording{
    &--new {
      .recording__block {        
        grid-gap: 0 50px;
        &-title{
          font-size: 32px;
          width: 100%;
        }
        &-button {
          font-size: 24px;
          max-width: 250px;
        }
      }
    }
    
  }
  .answer__block {
    margin-left: 120px;
  }

  .tree {
    &__first {      
      top: -110px;
      height: 300px;

      &--consult {
        width: 320px;
      }

      &--feedbacks {
        
      }
    }
    &__second {      
    height: 200px;
    left: -350px;
    top: -120px;

      &--consult {
        width: 450px;
      }
    }
    &__third {
      height: 300px;
      bottom: -120px;
      &--consult {        
        width: 270px;
      }
    }
    
    &__fourth {
      display: 400px;
    }
  }
}

@media all and (max-width:900px) {
  .recording{
    &--new {
      .recording__block {        
        grid-gap: 20px 0;
        grid-template-areas:
        "article"
        "info"
        "button";
      }
    }
    
  }
}


@media all  and (min-width:751px) and (max-width:1200px) {
  .article {
    grid-template-columns: repeat(auto-fit,minmax(390px,1fr));
    grid-auto-rows: minmax(470px,auto);
    
    &__photo {
      background-size: 390px;
    }
  }

  .recording{

    &__block {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 50px;
      &-title {
        font-size: 22px;   
      }

      &-text {
        font-size: 20px;
      }
      &-button {

        font-size: 22px;
        
      }
      
    }
  }
    
}



@media all  and (max-width:750px) {

  .header {

    &-nav {
      font-size: 20px;
      &__item {
        line-height: 90px;
      }
    }

    &__burger {
      &-btn {
        margin: 15px 30px;
      }
        
    }
  }

  .article {
    grid-template-columns: minmax(320px,1fr);
    grid-auto-rows: minmax(460px,auto);
    
    &__photo {
      background-size: 390px;
    }
    &-new {
      margin-top: 0;
    }
    &--another {
      padding-left: 20px;
      .article {
        &__info{
          margin: 0;
          &-title {
            margin: 0;
            font-size: 22px;
          }
        }
      }
    }
    &__info {
      &-subtitle--italic{
        color: $baseFontColor;
      }
    }
  }
  .mainContent > div,
  .recording {
    padding: 30px 20px 30px 30px;
  }
  .carousel {
    grid-template-columns: minmax(260px,1fr);
    
    &-indicators {
      grid-template-columns: repeat(auto-fit, minmax(200px,1fr));

      & li.active {
        &::before {
          left: -20px;
        }
      }
     
    }
  }

  .principles {
    &__block {
      &-title {
        &::before {
          position: relative;
          transform: translate(0);
          margin-right: 15px;
        }
      }
    }
  }

  .about {
    background-position-x: -880px;

    &__block {
      max-width: 280px;
      align-self: center;
      margin: 0;
      margin-bottom: 50px;
    }
  }

  .education { 
    .carousel { 
      img {
        width: 250px;
      }
      &-inner {
      min-height: 370px;
      }
    }
  }

  .recording{
    
    &__block {
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 20px;
      border-width: 3px;

      &-title {
        font-size: 22px;
        margin-bottom: 10px;   
      }

      &-text {
        font-size: 16px;
      }

      &-button {
        padding: 15px;
        font-size: 18px;        
      }
      
    }
    
    &--new {
      .recording__block {
        grid-template-columns: minmax(200px,1fr);
        padding: 20px;

        &-title {
          font-size: 26px;
        }
        &-form {
          &-title {
            font-size: 14px;
          }
          &-input {
            font-size: 18px;
            margin-bottom: 20px;
            padding-bottom: 0;
          }
        }
        &-text {
          font-size: 18px;
        }
        &-button {
          font-size: 22px;
          padding: 20px;
          width: 100%;
        }
      }

    }

  }

  .mainContent > .relationship {
    padding: 0 40px 0 50px;
  }

  .tree {
    &__first {
      top: -80px;
      height: 250px;

      &--consult {
        width: 250px;
        top: 40%;
        right: -180px;
        z-index: -1;
      }
    }
    &__second { 
      height: 130px;
      left: -225px;
      top: -70px;

      &--consult {
        display: none;
      }
    }
    &__third {
      height: 220px;
      bottom: -100px;
      &--consult {        
        width: 200px;
        right: 3%;
        top: calc(-100% - 30px);
      }
    }
    
    &__fourth {
      display: none;
    }
  }

  .footer {
    margin-bottom: 50px;

    &__logo{
      font-size: 15px;
      &::before {
        font-size: 38px;
      }
    }
  }
  .mainContent > .relationship {
    padding: 0px 20px 50px 20px;
  } 

  .relationship {
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    grid-gap: 20px; 
    &__image {
      grid-row: 1;
      grid-column: -1 / 1;
      &-block{  
        width: 280px;
        height: 280px;
      }
      
    }
  
    .principles {
      &__list {
        margin: 0;
        justify-content: center;
        grid-column: -1 / 1;
      }
  
      &__block {
        &-title {                
          &::before {
          }
        }  
      }
    }
  }

  .organisational {
    &__block {
      &-text {
        font-size: 16px;
      }
    }
  }

  .toDoList {
    grid-template-columns: minmax(200px,250px);
    font-size: 16px;

    &__list {
      li {
        margin-bottom: 10px;
      }
    }
    &__title {
      font-size: 22px;
      margin-bottom: 20px;
    }
    &__iDo {
      max-width: 250px;
    }
    &__iNotDo--block {
      max-width: 250px;
      &::before {
        transform: rotate(55deg);
        height: 190%;
      }
    }
  }

  .answer {
    &__block {    
      margin: 15px 30px;
      margin-bottom: 40px;
      &--new {
        font-size: 22px;
        padding: 20px 40px;
      }
    }
  }
  .title-for-block {
    font-size: 32px;
    margin: 0;
    margin-bottom: 20px;
}
      
}