@charset "UTF-8";
/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* @import "bootstrap_overrides"; */
/* @import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/variables";
@import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins";
@import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/scaffolding";
@import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/grid";
@import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/carousel"; */
/* $headerHeight: 62px;
$titleDisHeight: 23px; */
/* $paddingButtonText: 10px;
$marginButtonText: 44px; */
/* @import "color_matrix"; */
@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans.woff2);
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  background: #ffffff;
  font: 26px OpenSans, Arial, Helvetica, sans-serif;
  height: 100%;
  color: #000;
  padding: 0;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
}
.wrapper::after {
  content: " ";
  display: block;
  clear: both;
}

/* Navigation
-----------------------------------------------------------------------------*/
nav {
  position: absolute;
  right: 0;
  width: 50%;
}

.header nav {
  z-index: 98;
}
.header__burger-state {
  display: none;
}
.header__burger-btn {
  display: none;
  background: transparent;
  margin: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 0;
  transition: all 0.2s;
  z-index: 1111;
}
.header__burger-btn:hover {
  cursor: pointer;
  opacity: 0.45;
}
.header__burger-icon2 {
  position: absolute;
  background-color: #8cbd10;
  height: 3px;
  display: inline-block;
  border-radius: 25%;
  left: 0;
  width: 100%;
  top: 50%;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.header__burger-icon3 {
  position: absolute;
  background-color: #8cbd10;
  height: 3px;
  display: inline-block;
  border-radius: 25%;
  left: 0;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(15px) translateZ(0);
  transform: translateY(15px) translateZ(0);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.header-nav {
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.header-nav::after {
  content: " ";
  display: block;
  clear: both;
}
.header-nav__link {
  text-decoration: none;
  border-bottom: 0;
  padding-bottom: 0;
  color: #000;
  display: inline-block;
  padding: 30px 15px;
  position: relative;
  box-sizing: border-box;
}
.header-nav__link::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #8cbd10;
  transition: height 0.3s;
}
.header-nav__link:hover {
  text-decoration: none;
  color: #000;
  opacity: 0.8;
}
.header-nav__link:hover::before {
  height: 16px;
  transition: height 0.3s;
}
.header #burger:checked ~ nav {
  opacity: 1;
  height: 100%;
  transition: opacity 0.5s;
}
.header #burger:checked ~ nav .header-nav {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: transform 0.2s;
}
.header #burger:checked ~ .header__burger-btn .header__burger-icon2 {
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
}
.header #burger:checked ~ .header__burger-btn .header__burger-icon3 {
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
}

.blur {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  transition: all 0.2s;
}

.mainContent > div:nth-of-type(even) {
  background-color: #fbfbfb;
}

.mainContent > div,
.recording {
  display: grid;
  padding: 100px 140px 100px 200px;
  grid-template-columns: repeat(auto-fill, 1fr);
}

.title-for-block {
  font-size: 52px;
  margin-bottom: 50px;
  z-index: 2;
}

.article {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: minmax(550px, 1fr) 1fr;
  grid-auto-rows: minmax(650px, auto);
  grid-gap: 20px;
  z-index: 0;
}
.article-new {
  text-align: center;
  margin: 100px 0;
  position: relative;
  grid-column: -1/1;
}
.article-new__tree {
  right: -150px;
  top: 0;
  width: 440px;
  height: 400px;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}
.article-new__tree::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/tree-3.png) no-repeat;
  background-size: contain;
  background-position-x: -118px;
  transform: scale(-1, 1) rotate(15deg);
}
.article__info {
  align-self: center;
}
.article__info-title {
  font-size: 64px;
  font-weight: bold;
  line-height: 75px;
}
.article__info-subtitle {
  font-size: 28px;
  line-height: 100px;
  color: rgba(0, 0, 0, 0.4);
}
.article__info-subtitle--italic {
  font-style: italic;
}
.article__info-text {
  font-size: 32px;
  line-height: 48px;
}
.article__photo {
  background: url(../images/Psyhologist-photo.png) no-repeat center top;
}

.article--another {
  background-color: #ffffff;
  padding: 15px 50px;
  display: block;
}
.article--another .article__info {
  display: flex;
  flex-direction: column-reverse;
  align-self: center;
}
.article--another .article__info-title {
  font-size: 26px;
  line-height: 30px;
}
.article--another .article__info-subtitle {
  font-size: 14px;
  line-height: 19px;
}

.principles {
  position: relative;
}
.principles__list {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}
.principles__list-block {
  z-index: 2;
}
.principles__block-title {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: bold;
}
.principles__block-title::before {
  content: "";
  background-color: #8cbd10;
  position: absolute;
  transform: translate(-250%, 50%);
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.carousel {
  display: grid;
  grid-template-columns: 1fr minmax(450px, 1fr);
  grid-gap: 100px;
}
.carousel-item {
  position: absolute;
  height: 0;
  opacity: 0;
  transition: 0.7s ease-in-out opacity;
}
.carousel-item.active {
  opacity: 1;
  position: relative;
}
.carousel-indicators {
  display: block;
  position: static;
  margin: 0;
  width: 100%;
  text-align: left;
}
.carousel-indicators li {
  background-color: transparent;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  height: auto;
  text-indent: 0;
  cursor: pointer;
  z-index: 5;
  border: none;
  position: relative;
  color: rgba(0, 0, 0, 0.4);
}
.carousel-indicators li.active {
  color: #000;
  background-color: transparent;
}
.carousel-indicators li.active::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -50px;
  transform: translateY(20%);
  border-style: solid;
  border-width: 13px 0 13px 16px;
  border-color: transparent transparent transparent #8cbd10;
}
.carousel-inner {
  position: relative;
  height: 100%;
}

.answer__block-text {
  background-color: #8cbd10;
  border-radius: 20px 20px 0 20px;
  padding: 30px 40px;
  margin-bottom: 35px;
  position: relative;
  top: 0;
  bottom: 0;
}
.answer__block-text::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  right: 0;
  bottom: -34px;
  border-width: 0 60px 35px 0;
  border-color: transparent #8cbd10 transparent transparent;
}
.answer__block-author {
  font-size: 26;
  font-weight: bold;
  float: right;
  margin: 0 50px;
  line-height: 60px;
}
.answer__block-author::after {
  content: " ";
  display: block;
  clear: both;
}
.answer__block-author::before {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  background: url(../images/psyhologist-icon.png) no-repeat -55px top;
}
.answer__block-author::before::after {
  content: " ";
  display: block;
  clear: both;
}
.answer .carousel-inner {
  align-self: center;
}

.questions {
  position: relative;
}

.about {
  height: 530px;
  background: url(../images/about-me.png) no-repeat top;
  background-position-x: right;
  position: relative;
}
.about__block {
  max-width: 600px;
}
.about__block-title {
  font-weight: bold;
  margin: 50px 0;
  font-size: 32px;
}

.education {
  position: relative;
}
.education .carousel-inner {
  position: relative;
}
.education .carousel-inner .active {
  position: sticky;
  top: 0;
  margin: auto 0;
  height: auto;
}
.education .carousel img {
  z-index: 15;
  height: 100%;
  width: 450px;
}

.recording {
  padding: 100px;
}

.tree {
  position: absolute;
  z-index: 1;
}
.tree__first {
  right: 0;
  top: -150px;
}
.tree__first--consult {
  right: -220px;
  top: -50%;
  width: 450px;
  transform: scale(-1, 1) rotate(15deg);
}
.tree__first--feedbacks {
  left: -170px;
  top: -50%;
  width: 370px;
  transform: scale(-1, -1) rotate(5deg);
  z-index: -1;
}
.tree__second {
  left: -500px;
  top: -165px;
}
.tree__second--consult {
  bottom: -2%;
  left: -25%;
  width: 600px;
}
.tree__second--feedbacks {
  transform: scale(-1, 1) rotate(90deg);
  right: -250px;
  top: 50%;
  height: 370px;
  z-index: -1;
}
.tree__third {
  left: 0;
  bottom: -160px;
  transform: rotate(15deg);
}
.tree__third--consult {
  right: 15%;
  top: calc(-100% - 70px);
  width: 350px;
  transform: rotate(-90deg);
  z-index: -1;
}
.tree__third--feedbacks {
  left: -155px;
  top: -70%;
  width: 250px;
  z-index: -1;
}
.tree__fourth {
  right: 0;
  top: 50%;
  z-index: 0;
}
.tree__fourth--feedbacks {
  transform: rotate(30deg);
  left: -250px;
  bottom: 0;
  width: 400px;
  z-index: -1;
}

.overlay {
  background-color: rgba(190, 190, 190, 0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 12;
  opacity: 1;
  transition: opacity 0.3s;
}
.overlay__popup {
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  position: relative;
  background-color: #fff;
  font-size: 18px;
  border: 2px solid #8cbd10;
  border-radius: 10px;
  text-align: center;
  transform: scale(1);
  transition: transform 0.2s;
}
.overlay__popup--close::before {
  content: "×";
  position: absolute;
  margin: 0 10px;
  font-size: 25px;
  right: 0;
  top: 0;
  cursor: pointer;
}
.overlay__popup--close:hover {
  color: #8cbd10;
}
.overlay--close {
  z-index: -12;
  opacity: 0;
  transition: opacity 0.3s;
}
.overlay--close .overlay__popup {
  transform: scale(0.5);
  transition: transform 0.2s;
}

.recording__block {
  padding: 50px;
  padding-left: 100px;
  border: 10px solid #8cbd10;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 2fr 400px;
  align-items: center;
  grid-gap: 20px;
}
.recording__block-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bold;
}
.recording__block-text {
  font-size: 32px;
}
.recording__block-button {
  padding: 25px;
  font-size: 32px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  background-color: #8cbd10;
  border: none;
  align-self: flex-end;
  transition: box-shadow 0.3s;
}
.recording__block-button:focus {
  outline: none;
}
.recording__block-button:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
}
.recording__block-button a {
  text-decoration: none;
  color: #fff;
}
.recording__block-button a:active {
  color: #fff;
}

.recording--new .recording__block {
  grid-gap: 0 100px;
  grid-template-areas: "article info" "button info";
  align-items: start;
}
.recording--new .recording__block-title {
  width: 50%;
}
.recording--new .recording__block-text {
  font-size: 24px;
}
.recording--new .recording__block-article {
  grid-area: article;
  font-size: 32px;
}
.recording--new .recording__block-button {
  grid-area: button;
  display: inline-block;
  width: 270px;
}
.recording--new .recording__block-form {
  grid-area: info;
}
.recording--new .recording__block-form-title {
  font-size: 18px;
}
.recording--new .recording__block-form-input {
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #8cbd10;
  opacity: 0.6;
  padding-bottom: 10px;
  transition: all 0.5s;
  width: 100%;
  height: 40px;
}
.recording--new .recording__block-form-input:focus {
  outline: none;
  opacity: 1;
  transition: all 0.5s;
}
.recording--new .recording__block-form-inputText {
  resize: none;
  height: 80px;
  display: block;
}
.recording--new .recording__block-form-inputText::-webkit-scrollbar-track {
  background-color: transparent;
}
.recording--new .recording__block-form-inputText::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}
.recording--new .recording__block-form-inputText::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.footer {
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr) 1.5fr;
  justify-items: center;
  align-items: center;
  margin: 0px 50px;
  margin-bottom: 150px;
  grid-gap: 50px;
}
.footer__block-subtitie {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}
.footer__block-text {
  font-size: 18px;
}
.footer__block-text--name {
  font-weight: bold;
  font-size: 22px;
}
.footer__block:first-child {
  justify-self: start;
}
.footer__social-list {
  display: flex;
  justify-content: space-between;
}
.footer__social-item {
  font-family: "Font Awesome 5 Brands";
  width: 20px;
  font-size: 0px;
}
.footer__social-item a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.footer__social-item--facebook::before {
  content: "";
  font-size: 20px;
}
.footer__social-item--facebook:hover, .footer__social-item--facebook:active {
  color: #0c88ef;
}
.footer__social-item--twitter::before {
  content: "";
  font-size: 20px;
}
.footer__social-item--twitter:hover, .footer__social-item--twitter:active {
  color: #1da1f2;
}
.footer__social-item--youtube::before {
  content: "";
  font-size: 20px;
}
.footer__social-item--youtube:hover, .footer__social-item--youtube:active {
  color: #ff0000;
}
.footer__social-item--instagram::before {
  content: "";
  font-size: 20px;
}
.footer__social-item--instagram:hover, .footer__social-item--instagram:active {
  color: #cc2366;
}
.footer__logo {
  padding: 5px 20px 5px 70px;
  background-color: #f3f3f3;
  font-size: 18px;
  border-radius: 12px;
  position: relative;
  justify-self: end;
}
.footer__logo::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 40px;
  color: #d0021b;
  position: absolute;
  left: 12px;
  transform: rotate(-25deg);
}

.mainContent > .relationship {
  padding: 0 150px 60px 100px;
}

.relationship {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0 90px;
  position: relative;
}
.relationship__image-block {
  background: url(../images/consultation-image.png) no-repeat center center;
  background-size: cover;
  height: 520px;
  width: 520px;
  margin: 0 auto;
  margin-bottom: 100px;
  position: sticky;
  top: 0;
}
.relationship .principles__list {
  margin-top: 0;
  display: block;
}
.relationship .principles__list-block {
  margin-bottom: 80px;
}
.relationship .principles__block-title::before {
  visibility: hidden;
}

.organisational__block-text {
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.4);
}

.answer__title {
  font-weight: bold;
  text-align: center;
}
.answer--feedbacks {
  padding: 60px 150px;
  overflow: hidden;
}
.answer--feedbacks::after {
  content: " ";
  display: block;
  clear: both;
}
.answer--feedbacks .answer__block {
  margin: 0;
  cursor: default;
  font-weight: 50;
  margin: 100px 0;
  position: relative;
}
.answer--feedbacks .answer__block::after {
  content: " ";
  display: block;
  clear: both;
}
.answer--feedbacks .answer__block-author {
  color: rgba(0, 0, 0, 0.2);
  float: none;
  position: absolute;
  bottom: -60px;
  right: 0;
}
.answer--feedbacks .answer__block-author::before {
  background-image: none;
  background-color: #fbfbfb;
}
.answer--feedbacks .answer__block-author--even {
  left: 0;
}
.answer--feedbacks .answer__block-text {
  color: #ffffff;
  width: 60%;
  float: right;
  margin-bottom: 20px;
}
.answer--feedbacks .answer__block-text::after {
  content: " ";
  display: block;
  clear: both;
}
.answer--feedbacks .answer__block-text--even {
  border-radius: 20px 20px 20px 0;
  float: left;
}
.answer--feedbacks .answer__block-text--even::after {
  content: " ";
  display: block;
  clear: both;
}
.answer--feedbacks .answer__block-text--even:hover {
  box-shadow: none;
}
.answer--feedbacks .answer__block-text--even::after {
  transform: scale(-1, 1);
  left: 0;
}
.answer__block {
  margin: 50px 200px;
  position: relative;
}
.answer__block--new {
  display: inline-block;
  margin: auto 0;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  border-radius: 20px;
  transition: box-shadow 0.3s;
}
.answer__block--new:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
}
.answer__block--new:hover::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 75px;
  background: transparent;
  transform: rotate(60deg);
  top: 50px;
  left: 28px;
  box-shadow: 14px 0 11px -11px rgba(33, 33, 33, 0.3);
}
.answer__block--new:hover::after {
  box-shadow: 7px 0 6px -5px rgba(33, 33, 33, 0.3);
}
.answer__block--new::after {
  transform: scale(-1, 1);
  left: 40px;
  bottom: -29px;
  border-width: 0 50px 30px 0;
}

.toDoList {
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
.toDoList__iDo {
  max-width: 400px;
}
.toDoList__title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 30px;
}
.toDoList__list {
  list-style: disc;
}
.toDoList__list li {
  margin-bottom: 30px;
}
.toDoList__iNotDo {
  position: relative;
}
.toDoList__iNotDo--block {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 300px;
}
.toDoList__iNotDo--block::before {
  content: "";
  height: 140%;
  width: 2px;
  background-color: #d4172e;
  transform: rotate(35deg);
  position: absolute;
  left: -10%;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}

.wrapper__cabinet {
  display: inline-block;
  position: relative;
}
.wrapper__cabinet .recording {
  position: absolute;
  padding: 0;
  right: 0;
  top: -5%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.wrapper__cabinet .recording__block {
  grid-gap: 30px;
  padding: 30px;
  grid-template-columns: repeat(2, minmax(200px, 280px));
  margin: 100px 50px;
}
.wrapper__cabinet .recording__block-title {
  font-size: 28px;
  margin-bottom: 20px;
}
.wrapper__cabinet .recording__block-text {
  font-size: 18px;
}
.wrapper__cabinet .recording__block-button {
  font-size: 24px;
  padding: 20px;
  width: 200px;
}
.wrapper__cabinet .recording__block-form-title {
  font-size: 14px;
}
.wrapper__cabinet .recording__block-form-input {
  margin-bottom: 20px;
  padding-bottom: 5px;
  height: 30px;
  font-size: 24px;
}
.wrapper__cabinet .recording__block-form-inputText {
  height: 80px;
}
.wrapper__cabinet .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
}
.wrapper__cabinet .footer__block:first-child {
  margin-left: 50px;
  margin-right: 100px;
}
.wrapper__cabinet .footer__block-subtitie {
  color: #a5a5a5;
}
.wrapper__cabinet .footer__social-item a {
  color: #a5a5a5;
}
.wrapper__cabinet .footer__social-item a:hover {
  color: #ffffff;
}
.wrapper__cabinet .footer__logo {
  margin-left: auto;
  padding-right: 100px;
  background-color: transparent;
}
.wrapper__cabinet .footer__logo::before {
  color: #ffffff;
}

.cabinet {
  position: relative;
}
.cabinet__img {
  float: left;
}
.cabinet__img::after {
  content: " ";
  display: block;
  clear: both;
}
.cabinet__description {
  font-size: 20px;
  color: #8cbd10;
  font-weight: bolder;
  z-index: 1000;
  position: absolute;
}
.cabinet__description--right {
  text-align: right;
}
.cabinet__description-first {
  bottom: 25%;
  left: 22%;
}
.cabinet__description-second {
  top: 15%;
  left: 28%;
}
.cabinet__description-third {
  bottom: 25%;
  left: 37%;
}
.cabinet__description-fourth {
  top: 20%;
  left: 45%;
}
.cabinet__description-fifth {
  left: 65%;
  top: 30%;
}
.cabinet__description-sixth {
  left: 71%;
  bottom: 25%;
}
.cabinet__description-seventh {
  top: 20%;
  left: 76%;
}

.mainContent > .cabinet {
  padding: 0;
}

.location {
  position: absolute;
  left: 0;
  width: 350px;
  margin: 0 60px;
  top: -5%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.location__title {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
}
.location__description {
  font-size: 24px;
  margin: 10px;
}
.location__map {
  position: relative;
  width: 100%;
}
.location__map-bg {
  height: 220px;
  width: 100%;
  outline: 3px solid #ffffff;
  box-shadow: 7px 10px 7px 7px rgba(192, 192, 192, 0.3);
  margin: 10px;
}
.location__map-adress {
  font-size: 16px;
  position: absolute;
  right: 0;
  bottom: 20px;
  text-align: right;
}

.containier--another {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
.containier--another .article {
  background-color: transparent;
}

@media all and (max-width: 1200px) {
  .header nav {
    font-size: larger;
    font-weight: bold;
    position: fixed;
    height: 100%;
    display: none;
    width: 100%;
    background-color: rgba(190, 190, 190, 0.4);
    transition: opacity 0.2s;
    opacity: 0;
  }
  .header-nav {
    -webkit-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    transition: all 0.2s;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .header-nav__link {
    box-sizing: border-box;
    padding: 0;
    display: inline;
  }
  .header-nav__link:hover {
    border-bottom: 8px solid #8cbd10;
    border-radius: 8px;
    transition: all 0.2s;
  }
  .header-nav__link:hover::before {
    width: 0;
    height: 0;
    top: 0;
  }
  .header-nav__link:active {
    border-bottom: 8px solid #8cbd10;
    border-radius: 8px;
    transition: all 0.2s;
  }
  .header-nav__item {
    line-height: 120px;
  }
  .header__burger-btn {
    display: block;
  }

  .mainContent > div,
.recording {
    padding: 60px 80px 100px 120px;
  }

  .recording {
    padding: 60px;
  }
  .recording__block-title {
    font-size: 32px;
  }
  .recording__block-text {
    font-size: 24px;
  }

  .title-for-block {
    font-size: 36px;
    margin: 40px 0;
  }

  .article {
    grid-gap: 0;
  }
  .article__info {
    margin: 50px;
    box-sizing: content-box;
  }
  .article__info-title {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 20px;
  }
  .article__info-subtitle {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 30px;
  }
  .article__info-text {
    font-size: 20px;
    line-height: 30px;
  }
  .article--another .article__info {
    margin: 25px;
  }
  .article--another .article__info-subtitle {
    margin-bottom: 5px;
  }
  .article-new {
    margin: 0;
    margin-top: 50px;
  }
  .article-new__tree {
    right: -80px;
    width: 320px;
    height: 300px;
  }
  .article-new__tree::after {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position-x: -128px;
    transform: scale(-1, 1) rotate(8deg);
  }

  .principles__list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 370px));
    margin-top: 0;
    grid-gap: 50px;
    font-size: 16px;
  }
  .principles__block-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .principles__block-title::before {
    height: 15px;
    width: 15px;
  }
  .principles__block-text {
    line-height: 25px;
  }

  .carousel {
    grid-template-columns: minmax(400px, 1fr);
    grid-gap: 50px;
    font-size: 16px;
  }
  .carousel-indicators {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0 45px;
  }
  .carousel-indicators li {
    position: relative;
  }
  .carousel-indicators li.active::before {
    left: -25px;
    transform: translateY(0);
    border-width: 10px 0 10px 14px;
  }

  .questions {
    position: relative;
  }
  .questions .carousel-item p::after {
    bottom: -27px;
    border-width: 0 50px 28px 0;
  }
  .questions .carousel-item span {
    margin: 0;
    margin-right: 30px;
  }
  .questions .carousel-item span::before {
    content: "";
    width: 50px;
    height: 50px;
    background-position-x: -45px;
    background-size: 130px;
  }

  .about {
    font-size: 16px;
  }
  .about__block {
    max-width: 400px;
  }
  .about__block-title {
    font-size: 20px;
  }

  .education .carousel img {
    width: 400px;
  }
  .education .carousel-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0px 50px;
    margin-bottom: 150px;
  }
  .footer__block {
    margin: 0 20px;
    text-align: center;
  }
  .footer__block-subtitie {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
  }
  .footer__block-text {
    font-size: 15px;
  }
  .footer__block-text--name {
    font-size: 18px;
  }
  .footer__block:first-child {
    justify-self: center;
  }
  .footer__logo {
    justify-self: center;
  }

  .relationship {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 60px;
  }
  .relationship__image-block {
    width: 400px;
    height: 400px;
    margin-bottom: 0;
  }
  .relationship .principles__list {
    margin-left: 10px;
  }
  .relationship .principles__list-block {
    margin-bottom: 50px;
  }
  .relationship .principles__list-block:last-child {
    margin-bottom: 0;
  }
  .relationship .principles__block-title::before {
    visibility: visible;
    position: relative;
    margin-right: 10px;
    transform: translate(0);
  }

  .mainContent > .relationship {
    padding: 0 80px 60px 120px;
  }

  .toDoList {
    grid-template-columns: repeat(auto-fill, 500px);
    justify-content: center;
    font-size: 24px;
  }
  .toDoList__iNotDo--block {
    position: relative;
    margin: 0;
    margin-top: 50px;
  }
  .toDoList__iNotDo--block::before {
    left: -20%;
  }
  .toDoList__title {
    font-size: 28px;
  }
  .toDoList li {
    margin-bottom: 15px;
  }

  .organisational__block-text {
    font-size: 24px;
  }

  .recording--new .recording__block {
    grid-gap: 0 50px;
  }
  .recording--new .recording__block-title {
    font-size: 32px;
    width: 100%;
  }
  .recording--new .recording__block-button {
    font-size: 24px;
    max-width: 250px;
  }
  .recording--new .recording__block-form-inputText {
    height: 50px;
  }

  .answer--feedbacks {
    padding: 0 80px 100px 120px;
  }
  .answer--feedbacks .answer__block-text {
    width: 70%;
    font-size: 24px;
  }
  .answer__block {
    margin-left: 120px;
  }

  .tree__first {
    top: -110px;
    height: 300px;
  }
  .tree__first--consult {
    width: 320px;
  }
  .tree__first--feedbacks {
    width: 330px;
    top: -30%;
  }
  .tree__second {
    height: 200px;
    left: -350px;
    top: -120px;
  }
  .tree__second--consult {
    width: 450px;
  }
  .tree__second--feedbacks {
    right: -240px;
    height: 340px;
  }
  .tree__third {
    height: 300px;
    bottom: -120px;
  }
  .tree__third--consult {
    width: 270px;
  }
  .tree__third--feedbacks {
    left: -150px;
    width: 220px;
  }
  .tree__fourth {
    display: 400px;
  }
  .tree__fourth--feedbacks {
    width: 350px;
  }

  .mainContent {
    display: grid;
  }

  .mainContent > .cabinet {
    overflow-x: scroll;
  }

  .nicescroll-rails .nicescroll-cursors {
    padding: 5px 0;
    top: -5px !important;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.5);
    background: url(../images/scroll.png) no-repeat center center;
    /* width: 40px !important; */
  }

  .cabinet__img {
    float: none;
  }
  .cabinet__description {
    display: none;
  }

  .location {
    grid-row: 1;
    grid-column: -1/1;
    display: block;
    position: relative;
    margin: 40px;
    height: auto;
    top: 0;
    width: auto;
  }
  .location__map-bg {
    height: 300px;
  }
  .location__map-adress {
    position: relative;
    display: block;
    top: 0;
    padding-top: 10px;
    text-align: left;
    padding-left: 15%;
  }
  .location__description {
    font-size: 22px;
  }

  .containier--another {
    position: relative;
  }
}
@media all and (max-width: 900px) {
  .recording--new .recording__block {
    grid-gap: 20px 0;
    grid-template-areas: "article" "info" "button";
  }
}
@media all and (min-width: 751px) and (max-width: 1200px) {
  .article {
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    grid-auto-rows: minmax(470px, auto);
  }
  .article__photo {
    background-size: 390px;
  }

  .recording__block {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 50px;
  }
  .recording__block-title {
    font-size: 22px;
  }
  .recording__block-text {
    font-size: 20px;
  }
  .recording__block-button {
    font-size: 22px;
  }
}
@media all and (max-width: 750px) {
  .header-nav {
    font-size: 20px;
  }
  .header-nav__item {
    line-height: 90px;
  }
  .header-nav__link:active {
    border-bottom: 6px solid #8cbd10;
    border-radius: 6px;
    transition: all 0.2s;
  }
  .header-nav__link:hover {
    border-bottom: 6px solid #8cbd10;
    border-radius: 6px;
  }
  .header__burger-btn {
    margin: 15px 30px;
  }

  .article {
    grid-template-columns: minmax(320px, 1fr);
    grid-auto-rows: minmax(460px, auto);
  }
  .article__photo {
    background-size: 390px;
  }
  .article-new {
    margin-top: 0;
  }
  .article-new__tree {
    right: -10px;
    width: 220px;
    height: 180px;
    top: 85px;
  }
  .article-new__tree::after {
    background-position-x: -123px;
  }
  .article--another {
    padding-left: 20px;
  }
  .article--another .article__info {
    margin: 0;
  }
  .article--another .article__info-title {
    margin: 0;
    font-size: 22px;
  }
  .article__info-subtitle--italic {
    color: #000;
  }

  .mainContent > div,
.recording {
    padding: 50px 20px 30px 30px;
  }

  .mainContent > .relationship {
    padding: 0 20px 50px 20px;
  }

  .carousel {
    grid-template-columns: minmax(260px, 1fr);
  }
  .carousel-indicators {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .carousel-indicators li.active::before {
    left: -20px;
  }

  .principles__block-title::before {
    position: relative;
    transform: translate(0);
    margin-right: 15px;
  }

  .about {
    /* background-position-x: -880px; */
  }
  .about__block {
    max-width: 280px;
    align-self: center;
    margin: 0;
    margin-bottom: 50px;
  }

  .education .carousel img {
    width: 250px;
  }
  .education .carousel-inner {
    min-height: 370px;
  }

  .recording__block {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    border-width: 3px;
  }
  .recording__block-title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .recording__block-text {
    font-size: 16px;
  }
  .recording__block-button {
    padding: 15px;
    font-size: 18px;
  }
  .recording--new .recording__block {
    grid-template-columns: minmax(200px, 1fr);
    padding: 20px;
  }
  .recording--new .recording__block-title {
    font-size: 26px;
  }
  .recording--new .recording__block-form-title {
    font-size: 14px;
  }
  .recording--new .recording__block-form-input {
    font-size: 18px;
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .recording--new .recording__block-form-inputText {
    height: 60px;
  }
  .recording--new .recording__block-text {
    font-size: 18px;
  }
  .recording--new .recording__block-button {
    font-size: 22px;
    padding: 20px;
    width: 100%;
  }

  .tree__first {
    top: -80px;
    height: 250px;
  }
  .tree__first--consult {
    width: 250px;
    top: 40%;
    right: -180px;
    z-index: -1;
  }
  .tree__first--feedbacks {
    width: 150px;
    top: -80px;
    left: -35px;
  }
  .tree__second {
    height: 130px;
    left: -225px;
    top: -70px;
  }
  .tree__second--consult {
    display: none;
  }
  .tree__second--feedbacks {
    display: none;
  }
  .tree__third {
    height: 220px;
    bottom: -100px;
  }
  .tree__third--consult {
    width: 200px;
    right: 3%;
    top: calc(-100% - 30px);
  }
  .tree__third--feedbacks {
    display: none;
  }
  .tree__fourth {
    display: none;
  }
  .tree__fourth--feedbacks {
    display: none;
  }

  .footer {
    margin-bottom: 50px;
  }
  .footer__logo {
    font-size: 15px;
  }
  .footer__logo::before {
    font-size: 38px;
  }

  .relationship {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;
  }
  .relationship__image {
    grid-row: 1;
    grid-column: -1/1;
  }
  .relationship__image-block {
    width: 280px;
    height: 280px;
  }
  .relationship .principles__list {
    margin: 0;
    justify-content: center;
    grid-column: -1/1;
  }

  .organisational__block-text {
    font-size: 16px;
  }

  .toDoList {
    grid-template-columns: minmax(200px, 250px);
    font-size: 16px;
  }
  .toDoList__list li {
    margin-bottom: 10px;
  }
  .toDoList__title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .toDoList__iDo {
    max-width: 250px;
  }
  .toDoList__iNotDo--block {
    max-width: 250px;
  }
  .toDoList__iNotDo--block::before {
    transform: rotate(55deg);
    height: 190%;
  }

  .answer__block {
    margin: 15px 30px;
    margin-bottom: 40px;
  }
  .answer__block--new {
    font-size: 22px;
    padding: 20px 40px;
  }
  .answer__block-text::after {
    bottom: -24px;
    border-width: 0 45px 25px 0;
  }
  .answer__block-author {
    font-size: 14px;
    line-height: 40px;
    margin: 0;
    margin-right: 45px;
  }
  .answer__block-author::before {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .answer__block-author--even {
    margin-right: 0;
    margin-left: 45px;
  }

  .title-for-block {
    font-size: 32px;
    margin: 0;
    margin-bottom: 20px;
  }

  .answer__block--new:hover::before {
    width: 30px;
    height: 49px;
    top: 43px;
    left: 38px;
  }

  .answer--feedbacks {
    padding: 0 20px 30px 30px;
  }
  .answer--feedbacks .answer__title {
    text-align: left;
  }
  .answer--feedbacks .answer__block {
    margin: 60px 0;
  }
  .answer--feedbacks .answer__block-text {
    font-size: 18px;
    padding: 20px;
    width: 80%;
  }
  .answer--feedbacks .answer__block-author {
    bottom: -40px;
  }
  .answer--feedbacks .answer__block::before {
    content: "";
    display: block;
    position: absolute;
    background: url(../images/tree-3.png) no-repeat;
    background-size: cover;
    height: 150px;
    width: 180px;
    transform: scale(-1, 1) rotate(90deg);
    right: -85px;
    bottom: -50px;
  }
  .answer--feedbacks .answer__block--even::before {
    background: url(../images/tree-5.png) no-repeat;
    background-size: cover;
    left: -30px;
    bottom: -120px;
    width: 100px;
    height: 150px;
    transform: scale(1, 1) rotate(0);
  }

  .location__title {
    font-size: 34px;
  }
  .location__description {
    font-size: 16px;
  }
  .location__map-bg {
    height: 250px;
  }
}

/*# sourceMappingURL=styles.css.map */
