//Base Color
$black: #000;
$baseFontColor: $black;
$subtitleColor: rgba($black, .4);
$socialColor: rgba($black, .5);
$elementsColor: rgb(140, 189, 16);
$secondaryBGColor: #fbfbfb;
$primaryBGColor: #ffffff;

//Typography
$primaryFont: OpenSans, Arial, Helvetica, sans-serif;

//LineHeight

/* $headerHeight: 62px;
$titleDisHeight: 23px; */
/* $paddingButtonText: 10px;
$marginButtonText: 44px; */
