@charset "UTF-8";
/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* @import "bootstrap_overrides"; */
/* @import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/variables";
@import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/mixins";
@import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/scaffolding";
@import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/grid";
@import "../bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/carousel"; */
/* $headerHeight: 62px;
$titleDisHeight: 23px; */
/* $paddingButtonText: 10px;
$marginButtonText: 44px; */
/* @import "color_matrix"; */
@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans.woff2);
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  background: #ffffff;
  font: 26px/36px OpenSans, Arial, Helvetica, sans-serif;
  width: 100%;
  color: #000;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
/*.header {
   width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}*/
/* Navigation
-----------------------------------------------------------------------------*/
nav {
  position: absolute;
  right: 0;
  width: 50%;
}

.header-nav {
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.header-nav::after {
  content: " ";
  display: block;
  clear: both;
}
.header-nav__link {
  text-decoration: none;
  border-bottom: 0;
  padding-bottom: 0;
  /* 
  transition: all .2s; */
  display: inline-block;
  margin: 30px 10px;
  color: #000;
  text-align: left;
}
.header-nav__link:hover {
  margin-top: 14px;
  text-decoration: none;
  color: #000;
}
.header-nav__link:hover::before {
  content: "";
  display: block;
  position: relative;
  top: -24px;
  width: 100%;
  height: 16px;
  border-radius: 10px;
  background-color: #8cbd10;
}

.mainContent > div:nth-child(even) {
  background-color: #fbfbfb;
}

.mainContent > div {
  display: grid;
  padding: 100px 140px 100px 200px;
  grid-template-columns: repeat(auto-fix, 1fr);
}

.article {
  background-color: #fbfbfb;
  display: grid;
  grid-template-columns: minmax(550px, 1fr) minmax(300px, 1fr);
  grid-auto-rows: minmax(650px, auto);
  grid-gap: 20px;
  z-index: 0;
}
.article__info {
  align-self: center;
}
.article__info-title {
  font-size: 64px;
  font-weight: bold;
  line-height: 75px;
}
.article__info-subtitle {
  font-size: 28px;
  line-height: 100px;
  color: rgba(0, 0, 0, 0.4);
}
.article__info-text {
  font-size: 32px;
  line-height: 48px;
}
.article__photo {
  background: url(../images/Psyhologist-photo.png) no-repeat center top;
}

.principles .firstTree {
  position: absolute;
  right: -10px;
  transform: translateY(-35%);
  z-index: 1;
}
.principles__list {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}
.principles__list-block {
  z-index: 2;
  /* span {
    color: $elementsColor;
    display: inline-block;
    font-size: 70px;
    height: 115px;
    width: 50px;
    vertical-align: middle;        
  } */
}
.principles__list-block::before {
  content: "";
  background-color: #8cbd10;
  position: absolute;
  margin: 30px 0;
  transform: translate(-50px, 10px);
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.principles__block-title {
  font-size: 32px;
  margin: 30px 0;
  font-weight: bold;
}

.title-for-block {
  font-size: 52px;
  margin-bottom: 100px;
}

.questions .carousel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}
.questions .carousel-indicators {
  display: block;
  position: static;
  margin: auto 0;
}
.questions .carousel-indicators li {
  background-color: transparent;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  height: auto;
  text-indent: 0;
}
.questions .carousel-indicators li.active::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -50px;
  transform: translateY(6px);
  border-style: solid;
  border-width: 13px 0 13px 16px;
  z-index: 10000000;
  border-color: transparent transparent transparent #8cbd10;
}
.questions .carousel-inner {
  align-self: center;
}
.questions .carousel-item {
  /*  .tringle {
          text-align: right;      
        }

        & span,
            span::before,
            span::after {
              width: 5em;
              height: .25em;
              background-color: red;
              border-radius: 5em;
              box-shadow: 0 0 0 1.5em red;        
          }

          & span {
            position: relative;
            display: block;
            font-size: 0.3em;
          }

          & span::before,
            span::after {
              content: '';
              position: absolute;   
              top: -2.1em;  
          }

          & span::before {
            right: 1.2em;
            transform: rotate(-60deg);     
          }

          & span::after {
            left: 1.2em;
            transform: rotate(60deg);
          }
  */
}
.questions .carousel-item p {
  background-color: #8cbd10;
  border-radius: 20px 20px 0 20px;
  padding: 40px;
  margin-bottom: 35px;
  position: relative;
}
.questions .carousel-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  right: 0;
  bottom: -35px;
  border-width: 0 60px 35px 0;
  border-color: transparent #8cbd10 transparent transparent;
}

.secondTree {
  position: absolute;
  left: -500px;
  transform: translateY(-90%);
  z-index: 1;
}

.about {
  height: 730px;
  background: url(../images/about-me.png) no-repeat top;
  background-position-x: right;
}
.about__block {
  max-width: 600px;
}
.about__block-title {
  font-weight: bold;
  line-height: 100px;
  font-size: 32px;
}

.thirdTree {
  position: absolute;
  left: 0;
  transform: translateY(100%) rotate(15deg);
  z-index: 1;
}

.mainContent > div:last-child {
  padding: 100px;
}

.recording__block {
  padding: 50px;
  padding-left: 100px;
  border: 10px solid #8cbd10;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 2fr 400px;
  align-items: center;
  grid-gap: 20px;
}
.recording__block-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bold;
}
.recording__block-text {
  font-size: 32px;
}
.recording__block-button {
  padding: 25px;
  font-size: 32px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  background-color: #8cbd10;
  border: none;
  align-self: flex-end;
}
.recording__block-button:focus {
  outline: none;
}
.recording__block-button:hover {
  cursor: pointer;
}

.footer {
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr) 1.5fr;
  justify-items: center;
  align-items: center;
  margin: 0px 50px;
  margin-bottom: 150px;
  grid-gap: 50px;
}
.footer__block-subtitie {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}
.footer__block-text {
  font-size: 18px;
}
.footer__block-text--name {
  font-weight: bold;
  font-size: 22px;
}
.footer__block:first-child {
  justify-self: start;
}
.footer__block:last-child {
  justify-self: end;
}
.footer__social-list {
  display: flex;
  justify-content: space-between;
}
.footer__social-item {
  font-family: "Font Awesome 5 Brands";
  width: 20px;
  font-size: 0px;
}
.footer__social-item a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.footer__social-item--facebook::before {
  content: "";
  font-size: 20px;
}
.footer__social-item--facebook:hover, .footer__social-item--facebook:active {
  color: #0c88ef;
}
.footer__social-item--twitter::before {
  content: "";
  font-size: 20px;
}
.footer__social-item--twitter:hover, .footer__social-item--twitter:active {
  color: #1da1f2;
}
.footer__social-item--youtube::before {
  content: "";
  font-size: 20px;
}
.footer__social-item--youtube:hover, .footer__social-item--youtube:active {
  color: #ff0000;
}
.footer__social-item--instagram::before {
  content: "";
  font-size: 20px;
}
.footer__social-item--instagram:hover, .footer__social-item--instagram:active {
  color: #cc2366;
}

/*# sourceMappingURL=styles.css.map */
